header
{
    padding: 100px 0px 80px 0px;
    background-color: #cd7970;
}

.btn-primary
{
    background-color: #cd7970;
    border-color: #cd7970;
}

a
{
    color: #cd7970;
}

section
{
    padding: 150px 0px;
}

img
{
    display: inline-block;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    line-height: normal;
    margin-left: auto;
    margin-right: auto;
}

.well
{
    margin: 35px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

section
{
    background-color: #ebedec;
}

.headerImg
{
    width: 740px;
    max-width: 100%;
    margin-bottom: 20px;
}

footer
{
}
